.9_4 { 
	overflow:hidden;
}
.e9_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e9_5 { 
	background-color:rgba(76.0000030696392, 201.00000321865082, 240.00000089406967, 1);
	width:1304px;
	height:182px;
	position:absolute;
	left:208px;
	top:0px;
}
.e9_6 { 
	width:240px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_7 { 
	background-color:rgba(67.00000360608101, 97.00000181794167, 238.00000101327896, 1);
	width:240px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_8 { 
	width:216.4528350830078px;
	height:144px;
	position:absolute;
	left:23.547170639038086px;
	top:41px;
}
.e9_9 { 
	width:100px;
	height:100px;
	position:absolute;
	left:56.5px;
	top:6px;
}
.ei9_9_18_3 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Images/penguin_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_10 { 
	color:rgba(255, 255, 255, 1);
	width:213px;
	height:36px;
	position:absolute;
	left:0px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}
.e9_11 { 
	width:171.16981506347656px;
	height:140px;
	position:absolute;
	left:46.18867874145508px;
	top:801px;
}
.e9_12 { 
	width:166.7003631591797px;
	height:136.63156127929688px;
	position:absolute;
	left:2.2347168922424316px;
	top:1.6842105388641357px;
}
.e9_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:111.64075469970703px;
	height:62.105262756347656px;
	position:absolute;
	left:22.72754669189453px;
	top:1.2548346361995755e-8px;
}
.e9_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.686033248901367px;
	height:26.89556312561035px;
	position:absolute;
	left:148.01434326171875px;
	top:80.52631378173828px;
}
.e9_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:23.298114776611328px;
	height:25.105270385742188px;
	position:absolute;
	left:7.18145756195554e-8px;
	top:74.05262756347656px;
}
.e9_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.684528350830078px;
	height:18.6842098236084px;
	position:absolute;
	left:23.39320945739746px;
	top:80.0526351928711px;
}
.e9_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.699624061584473px;
	height:26.789470672607422px;
	position:absolute;
	left:45.26491165161133px;
	top:71.89473724365234px;
}
.e9_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.6860408782959px;
	height:18.157894134521484px;
	position:absolute;
	left:55.154720306396484px;
	top:80.52631378173828px;
}
.e9_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.73810863494873px;
	height:19.052637100219727px;
	position:absolute;
	left:74.69660949707031px;
	top:80.10526275634766px;
}
.e9_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.883771896362305px;
	height:18.63158416748047px;
	position:absolute;
	left:92.62190246582031px;
	top:80px;
}
.e9_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.693587303161621px;
	height:19.052637100219727px;
	position:absolute;
	left:108.21736145019531px;
	top:80.10526275634766px;
}
.e9_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.699620246887207px;
	height:26.73684310913086px;
	position:absolute;
	left:124.4309310913086px;
	top:71.89473724365234px;
}
.e9_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.362263679504395px;
	height:23.84210777282715px;
	position:absolute;
	left:134.6060333251953px;
	top:75.3157958984375px;
}
.e9_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.35622787475586px;
	height:19.000001907348633px;
	position:absolute;
	left:9.224151611328125px;
	top:117.57894897460938px;
}
.e9_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.362265586853027px;
	height:23.842098236083984px;
	position:absolute;
	left:25.96075439453125px;
	top:112.78947448730469px;
}
.e9_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.732078552246094px;
	height:24.631572723388672px;
	position:absolute;
	left:46.97661209106445px;
	top:111.47368621826172px;
}
.e9_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.35169792175293px;
	height:18.74909210205078px;
	position:absolute;
	left:67.8022689819336px;
	top:117.63157653808594px;
}
.e9_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.880751609802246px;
	height:19.000001907348633px;
	position:absolute;
	left:112.87698364257812px;
	top:117.57894897460938px;
}
.e9_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.604534149169922px;
	height:26.789470672607422px;
	position:absolute;
	left:130.37432861328125px;
	top:109.31578826904297px;
}
.e9_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.831695556640625px;
	height:19.052637100219727px;
	position:absolute;
	left:140.64453125px;
	top:117.52631378173828px;
}
.e9_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.391698837280273px;
	height:27.105262756347656px;
	position:absolute;
	left:89.29358673095703px;
	top:109.05262756347656px;
}
.e9_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.564531326293945px;
	height:5.052626609802246px;
	position:absolute;
	left:157.5237579345703px;
	top:111.52632141113281px;
}
.e9_34 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:36px;
	position:absolute;
	left:56px;
	top:380px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e9_35 { 
	color:rgba(255, 255, 255, 1);
	width:170px;
	height:44px;
	position:absolute;
	left:66px;
	top:336px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e9_38 { 
	color:rgba(0, 0, 0, 1);
	width:591px;
	height:112px;
	position:absolute;
	left:257px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_4 { 
	color:rgba(0, 0, 0, 1);
	width:510px;
	height:112px;
	position:absolute;
	left:534px;
	top:336px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_47 { 
	color:rgba(0, 0, 0, 1);
	width:1009px;
	height:116px;
	position:absolute;
	left:355px;
	top:441px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
