
.e1_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e1_5 { 
	background-color:rgba(76.0000030696392, 201.00000321865082, 240.00000089406967, 1);
	width:1276px;
	height:182px;
	position:absolute;
	left:236px;
	top:0px;
}
.e1_6 { 
	width:236px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_7 { 
	background-color:rgba(67.00000360608101, 97.00000181794167, 238.00000101327896, 1);
	width:236px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_8 { 
	width:232px;
	height:159px;
	position:absolute;
	left:4px;
	top:44px;
}
.e1_9 { 
	width:100px;
	height:100px;
	position:absolute;
	left:56.5px;
	top:6px;
}
.ei1_9_18_3 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Images/penguin_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_10 { 
	color:rgba(255, 255, 255, 1);
	width:213px;
	height:36px;
	position:absolute;
	left:0px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}
.e1_11 { 
	width:168.3169708251953px;
	height:140px;
	position:absolute;
	left:44.52830505371094px;
	top:830px;
}
.e1_12 { 
	width:163.92201232910156px;
	height:136.63156127929688px;
	position:absolute;
	left:2.1974716186523438px;
	top:1.6842105388641357px;
}
.e1_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:109.78006744384766px;
	height:62.105262756347656px;
	position:absolute;
	left:22.348752975463867px;
	top:1.2548346361995755e-8px;
}
.e1_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.374597549438477px;
	height:26.89556312561035px;
	position:absolute;
	left:145.54742431640625px;
	top:80.52631378173828px;
}
.e1_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:22.90981101989746px;
	height:25.105270385742188px;
	position:absolute;
	left:7.18145756195554e-8px;
	top:74.05262756347656px;
}
.e1_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.35645294189453px;
	height:18.6842098236084px;
	position:absolute;
	left:23.003320693969727px;
	top:80.0526351928711px;
}
.e1_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.537962913513184px;
	height:26.789470672607422px;
	position:absolute;
	left:44.510494232177734px;
	top:71.89473724365234px;
}
.e1_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:18.374605178833008px;
	height:18.157894134521484px;
	position:absolute;
	left:54.235469818115234px;
	top:80.52631378173828px;
}
.e1_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.475805282592773px;
	height:19.052637100219727px;
	position:absolute;
	left:73.45166015625px;
	top:80.10526275634766px;
}
.e1_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.652375221252441px;
	height:18.63158416748047px;
	position:absolute;
	left:91.07819366455078px;
	top:80px;
}
.e1_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.46535873413086px;
	height:19.052637100219727px;
	position:absolute;
	left:106.41372680664062px;
	top:80.10526275634766px;
}
.e1_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.537959098815918px;
	height:26.73684310913086px;
	position:absolute;
	left:122.35707092285156px;
	top:71.89473724365234px;
}
.e1_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.15622615814209px;
	height:23.84210777282715px;
	position:absolute;
	left:132.36257934570312px;
	top:75.3157958984375px;
}
.e1_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.083621978759766px;
	height:19.000001907348633px;
	position:absolute;
	left:9.070414543151855px;
	top:117.57894897460938px;
}
.e1_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.156227111816406px;
	height:23.842098236083984px;
	position:absolute;
	left:25.528074264526367px;
	top:112.78947448730469px;
}
.e1_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.403207778930664px;
	height:24.631572723388672px;
	position:absolute;
	left:46.193660736083984px;
	top:111.47368621826172px;
}
.e1_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.02916717529297px;
	height:18.74909210205078px;
	position:absolute;
	left:66.67222595214844px;
	top:117.63157653808594px;
}
.e1_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.616070747375488px;
	height:19.000001907348633px;
	position:absolute;
	left:110.99568939208984px;
	top:117.57894897460938px;
}
.e1_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.4444580078125px;
	height:26.789470672607422px;
	position:absolute;
	left:128.201416015625px;
	top:109.31578826904297px;
}
.e1_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.551166534423828px;
	height:19.052637100219727px;
	position:absolute;
	left:138.30043029785156px;
	top:117.52631378173828px;
}
.e1_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:23.985170364379883px;
	height:27.105262756347656px;
	position:absolute;
	left:87.80535888671875px;
	top:109.05262756347656px;
}
.e1_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.488455295562744px;
	height:5.052626609802246px;
	position:absolute;
	left:154.89834594726562px;
	top:111.52632141113281px;
}
.e2_130 { 
	color:rgba(250.00000029802322, 255, 0, 1);
	width:155px;
	height:36px;
	position:absolute;
	left:41px;
	top:455px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e1_33 { 
	width:51px;
	height:74px;
	position:absolute;
	left:259px;
	top:433px;
	/* background-image:url(images/unchecked_radio_button.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_34 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:36px;
	position:absolute;
	left:66px;
	top:527px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_35 { 
	color:rgba(255, 255, 255, 1);
	width:170px;
	height:44px;
	position:absolute;
	left:60px;
	top:345px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_36 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:36px;
	position:absolute;
	left:66px;
	top:402px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	display: none;
}
.e1_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6px;
	height:4px;
	position:absolute;
	left:253px;
	top:145px;
}
.e1_38 { 
	color:rgba(0, 0, 0, 1);
	width:510px;
	height:112px;
	position:absolute;
	left:257px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e1_39 { 
	color:rgba(0, 0, 0, 1);
	width:794px;
	height:121px;
	position:absolute;
	left:259px;
	top:237px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e1_40 { 
	width:51px;
	height:75px;
	position:absolute;
	left:259px;
	top:358px;
	/* background-image:url(images/unchecked_radio_button.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_41 { 
	width:51px;
	height:75px;
	position:absolute;
	left:259px;
	top:507px;
	/* background-image:url(images/unchecked_radio_button.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_43 { 
	color:rgba(0, 0, 0, 1);
	width:304px;
	height:46px;
	position:absolute;
	left:330px;
	top:374px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}


 .e1_44 { 
	color:rgba(0, 0, 0, 1);
	width:304px;
	height:46px;
	position:absolute;
	left:330px;
	top:447px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
} 
.e1_45 { 
	color:rgba(0, 0, 0, 1);
	width:304px;
	height:46px;
	position:absolute;
	left:330px;
	top:520px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_122 { 
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(0, 142.73608803749084, 14.273613933473825, 1);
	width:239px;
	height:43px;
	position:absolute;
	left:259px;
	top:627px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e1_123 { 
	color:rgba(249.01507794857025, 250.12744545936584, 248.91833513975143, 1);
	width:122px;
	height:54px;
	position:absolute;
	left:58.5px;
	top:-5.5px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_126 { 
	color:rgba(0, 0, 0, 1);
	width:487px;
	height:84px;
	position:absolute;
	left:860px;
	top:416px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e1_128 { 
	color:rgba(0, 0, 0, 1);
	width:462px;
	height:144px;
	position:absolute;
	left:873px;
	top:494px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}

